/src/static/js/instascan/instascan-master
/src/migrations
/.pydevproject
/.project
__pycache__
/src/ilsc.log
/src/ilsc.db
/src/keys/public_key.pem
/src/keys/private_key.pem
.idea
/src/flask.cfg
/src/ilsc.cfg
/.settings
/src/keys/private_key.ppk
/src/keys/privkey.pem
/src/keys/cacert.pem
/src/keys/public_key.pub
/src/migrations
/src/migrate.cfg
/src/static/codes/*.png