{% extends "main.html" %}

{% block body %}
<h2>Verantwortlicher</h2>
<p>Ilmenauer Studentenclub e.V.<br />PF 100 565<br />98684 Ilmenau</p>
<h2>Vertretungsberechtigter Vorstand ilsc e.V.:</h2>
<p>Bruno Ramirez (Vorsitzender)<br />Danny G&ouml;tte (stellv. Vorsitzender)<br />David Olschowa (Finanzer)<br />Henriette Wittig (Stellvertretung)<br />Jonathan Liebner (Stellvertretung)<br /><strong>Fon/Fax:</strong> +49 (0) 3677 - 69 1912 <br /><strong>eMail:</strong> vorstand[at]ilmenauer-studentenclub.de<br /><strong>Internet:</strong> <a href="http://www.il-sc.de">http://www.il-sc.de</a></p>
<h2>Begrifflichkeiten</h2>
<p>Solltest du mehr &uuml;ber die verwendeten Begrifflichkeiten wie "Verarbeitung" oder "Dritter" erfahren wollen, kannst du die genaueren Definitionen im <a href="https://dsgvo-gesetz.de/kapitel-4/" target="_blank">Art. 4</a> der Datenschutzgrundverordnung (DSGVO) nachlesen.</p>
<h2>Was sind Cookies?</h2>
<p>Unsere Webseite verwendet so genannte Cookies. Cookies sind kleine unsch&auml;dliche Textdateien, die auf deinem Endger&auml;t durch deinen Browser gespeichert werden. Sie dienen unter anderem dazu, unsere Seite sicherer zu machen. Durch den Einsatz von Cookies wird die Verwendung spezieller Features m&ouml;glich.</p>
<p>Cookies haben eine Lebensdauer. Einige Cookies werden sofort nach Ende deines Websitebesuches gel&ouml;scht, andere hingegen bleiben auf deinem Endger&auml;t, bis sie nicht mehr g&uuml;ltig oder nicht mehr gebraucht werden.</p>
<p>Du kannst deinen Browser so einstellen, dass er dir Bescheid gib, wenn ein Cookie erstellt werden soll. Ebenso kannst du Ausnahmen erteilen oder das Erstellen von Cookies generell verbieten. Werden Cookies nicht zugelassen, kann es vorkommen, dass einige Features der Webseite nicht mehr so funktionieren, wie du es vielleicht erwartest.</p>
<p>Mehr Informationen &uuml;ber Cookies kannst du <a href="https://support.mozilla.org/de/kb/cookies-informationen-websites-auf-ihrem-computer" target="_blank">hier </a>nachlesen.</p>
<p>Wir verwenden nur Cookies, die f&uuml;r die Seitenfunktionalit&auml;t zwingend notwendig sind. Diese verwenden wir:</p>
<ul>
<li></li>
<li>"session", ist g&uuml;ltig bis zum Sitzungsende, notwendig f&uuml; Loginfunktionen</li>
</ul>
<h2>Welche Daten speichern wir?</h2>
<p>Wenn du unsere Website aufrufst legt der dahinter stehende Server so genannte Logfiles an. Darin stehen:</p>
<ul><li>deine IP-Adresse</li>
<li>ein Zeitstempel</li>
<li>die URL der Anfrage</li>
<li>der Status (also ob die Anfrage geklappt hat)</li>
<li>der Referrer (die URL der Website, von der du durch einen Link zur aktuellen Website gelangt bist)</li>
<li>der User Agent (das Programm, mit dem du die Website aufgerufen hast)</li>
<li>ggf. aufgetretene Fehler (z.B. eine falsche URL oder ein Softwarefehler)</li>
</ul><p>Zudem werden Fehler  zusammen mit deiner IP-Adresse tempor&auml;r in unserer Datenbank gespeichert.</p>
<h2>Warum speichern wir diese Daten?</h2>
<p>Alle oben angegebenen Daten werden gespeichert, um den Betrieb unserer Website zu gew&auml;hrleisten, Fehler zu finden und die Seite stetig zu verbessern. Wir werten die Daten nicht automatisiert aus oder erstellen daraus Profile um &uuml;ber dich Informationen zu sammeln.</p>
<p>Die oben genannten Daten werden in regelm&auml;&szlig;igen Abst&auml;nden gel&ouml;scht.</p>
<h2>Erhebung von Kontaktdaten von G&auml;sten in der Gastronomie zur Bek&auml;mpfung der Corona-Pandemie</h2>
<p>Aufzunehmen sind Kontaktdaten jeder Person, und zwar</p>
<ul>
<li>Name und Vorname,</li>
<li>Wohnanschrift oder Telefonnummer</li>
<li>Datum des Besuchs</li>
<li>Beginn und Ende der jeweiligen Anwesenheit</li>
</ul>
<h2>Zweck der dieser Datenerfassung?</h2>

<p>R&uuml;ckverfolgbarkeit von Infektionen mit COVID-19 gem&auml;&szlig; <a href="https://corona.thueringen.de/behoerden/ausgewaehlte-verordnungen" target="_blank">Th&uuml;ringer Verordnung zur Neuordnung der erforderlichen Ma&szlig;nahmen zur Eind&auml;mmung der Ausbreitung des Coronavirus SARS-CoV-2</a></p>
<p>Ohne Angabe der Kontaktdaten darf der Gast oder Besucher nicht bedient werden oder die jeweiligen Veranstaltungen, Angebote und Einrichtungen nicht in Anspruch nehmen.</p>
<p>Rechtsgrundlage der Datenverarbeitung ist Art. 6 Abs. 1 Buchst. d DSGVO (Verarbeitung personenbezogener Daten zum Schutz lebenswichtiger Interessen der betroffenen Person oder einer anderen nat&uuml;rlichen Person). Hierzu z&auml;hlt auch die Verarbeitung personenbezogener Daten zur &Uuml;berwachung von Epidemien und deren Ausbreitung. Weitere Rechtsgrundlage der Datenverarbeitung ist die Th&uuml;ringer Verordnung zur Neuordnung der erforderlichen Ma&szlig;nahmen zur Eind&auml;mmung der Ausbreitung des Coronavirus SARS-CoV-2 sowie zur Verbesserung der infektionsschutzrechtlichen Handlungsm&ouml;glichkeiten &#167;4 Abs. (4). Diese Bestimmungen fordern den Inhaber des Gastronomiebetriebs zur Erhebung und Verarbeitung der Daten auf.
</p>
<p>Empf&auml;nger der erhobenen Kontaktdaten: Die erhobenen Daten d&uuml;rfen ausschlie&szlig;szliglich auf Anforderung der zust&auml;ndigen Gesundheitsbeh&ouml;rden zur Nachverfolgung von m&ouml;glichen Infektionswegen weitergegeben werden.</p>
<p>Die Kontaktdaten werd verschl&uuml;sselt &uuml;bertragen und zudem verschl&uuml;sselt gespeichert. 
<p>Die Kontaktdaten werden f&uuml;r nur f&uuml;r die vorgeschriebene Dauer gespeichert und dann gel&ouml;scht.</p>
<h2>Werden Daten an Dritte weitergegeben?</h2>
<p>Die durch den Server gespeicherten oder durch dich eingetragenen Informationen werden nicht ohne deine Erlaubnis an Dritte weitergegeben, es sei denn, wir sind dazu durch eine gesetzliche Regelung oder einen gerichtlichen Beschluss verpflichtet.</p>
<h2>Welche Rechte besitzt du?</h2>
<p>Gem&auml;&szlig; der EU-Datenschutzgrundverordung (DSGVO) stehen dir folgende Rechte zu. F&uuml;r mehr Informationen nutze bitte die folgenden externen Links.</p>
<ul><li>Recht auf Auskunft - <a href="http://dsgvo-gesetz.de/art-15-dsgvo/" target="_blank">Art. 15 DSGVO</a></li>
<li>Recht auf Berichtigung - <a href="http://dsgvo-gesetz.de/art-16-dsgvo/" target="_blank">Art. 16 DSGVO</a></li>
<li>Recht auf L&ouml;schung - <a href="http://dsgvo-gesetz.de/art-17-dsgvo/" target="_blank">Art. 17 DSGVO</a></li>
<li>Recht auf Einschr&auml;nkung der Verarbeitung - <a href="http://dsgvo-gesetz.de/art-18-dsgvo/" target="_blank">Art. 18 DSGVO</a></li>
<li>Recht auf Daten&uuml;bertragbarkeit - <a href="http://dsgvo-gesetz.de/art-20-dsgvo/" target="_blank">Art. 20 DSGVO</a></li>
<li>Recht auf Widerspruch - <a href="http://dsgvo-gesetz.de/art-21-dsgvo/" target="_blank">Art. 21 DSGVO</a></li>
</ul>
<h2>Dir ist etwas aufgefallen oder hier stimmt was nicht?</h2>
<p>Als ehrenamtlich arbeitender Verein versuchen nat&uuml;rlich auch wir Alles, die rechtlichen Vorschriften und Regelungen im Sinne Datenschutzes und der EU-Datenschutzgrundverordnung umzusetzen. Allerdings sind wir keine Profis. Solltest du einen Fehler finden, teile uns diesen bitte mit. Damit hilfst du nicht nur uns, du hilfst auch anderen ehrenamtlichen Vereinen, mit denen wir zusammenarbeiten und das kulturelle Leben in Ilmenau bereichern. <strong>Danke!</strong></p>
{% endblock %}