{% extends "mainform.html" %}
{% block body %}
	<div id='explanation'>
		<h2>Warum das Ganze?</h2>
		<p>Aufgrund der <a href="https://www.tmasgff.de/covid-19/verordnung" target="_blank">Th&uuml;ringer Verordnung zur Regelung infektionsschutzrechtlicher Ma&szlig;nahmen und schrittweisen weiteren Eind&auml;mmung der Ausbreitung des Coronavirus SARS-CoV-2</a> ist ein Besuch unserer Einrichtungen nur m&ouml;glich, wenn die Kontaktdaten der Besucher, sowie der Zeitpunkt des Besuchsbeginns und -endes festgehalten werden.</p>
		<p>Alle angegebenen Daten werden verschl&uuml;sselt &uuml;bertragen und verschl&uuml;sselt in unserer Datenbank gespeichert. Nach Ablauf der vorgeschriebenen Dauer werden deine Daten automatisch gel&ouml;scht</p>
		<p>Wenn du deine Daten angibst, wird ein QR-Code erzeugt, der eine eineindeutige Zeichenkette enth&auml;lt. Mit diesem QR-Code kannst du dich bei unseren Veranstaltungen bequem ein und ausstempeln. Dabei hat niemand Zugriff auf deine angegebenen Daten.</p>
		<p>Der Vorteil: Du musst dich nicht jedesmal in Listen eintragen und keiner kann deine Daten sehen.</p>
		<p>Solange du regelm&auml;&szlig;ig vorbeischaust, bleibt der QR-Code gültig. Kommst du nicht mehr vorbei wird der QR-Code nach der vorgeschriebenen Zeit ung&uuml;ltig und alle dazugeh&ouml;rigen Daten gel&ouml;scht. Besuchst du uns weiter, werden nur die Besuchsinformationen gel&ouml;scht, die &auml;lter als die vorgeschriebene Zeit sind.</p>
		<p>Hilf mit, Party smart!</p>
	</div>
	{% block mainform %}
		{{ super() }}
	{% endblock %}
{% endblock %}