{% extends "main.html" %}
{% block body %}
{% if msg: %}
	{% for t,m in msg.items() %}
		<div id="info" class="{{ t }}">{{ m|safe }}</div>
	{% endfor %}
{% endif %}
<table class="optionstable">
<tbody>
<tr>
  <th>Location</th>
  <th>Autoleave (Stunde)</th>
  <th style="width:16%;" colspan="2" class="btn_option"><a href="{{ url_for('r_location_add') }}"><button>Add Location</button></a></th>
</tr>
{% for k,v in locations %}
<tr>
  <td>{{ v }}</td>
  <td></td>
  <td class="btn_option"><a href="{{ url_for('r_location_edit', lid=k) }}"><button>Edit</button></a></td>
  <td class="btn_option"><a href="{{ url_for('r_location_delete', lid=k) }}"><button>Delete</button></a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}