{% extends "main.html" %}

{% block body %}
<form id="locationform" method="POST" action="{{ url_for('r_location_add') }}">
	{% if msg: %}
	<div id="warning">{{ msg|safe }}</div>
	{% endif %}
	{{ form.csrf_token }}
	{{ form.name.label }}
	{{ form.name }}
	{{ form.organisation.label }}
	{{ form.organisation }}
	<ul>
		{% for key,field in form._fields.items() %}
			{% for error in field.errors %}
				<li style="color:red;">{{ error }}</li>
			{% endfor %}
		{% endfor %}
	</ul>
	<input id="submit" type="submit" value="Speichern">
	<a href="{{ url_for('r_locations') }}"><button type="button" formnovalidate>Abbrechen</button></a>
</form>
{% endblock %}