{% extends "main.html" %}
{% block body %}
<h3>Locations</h3>
<table id="loctable" class="optionstable">
<tbody>
<tr>
  <th>Name</th>
  <th>Cron</th>
  <th>Autoscan</th>
  <th style="width:16%;" colspan="2" class="btn_option"><a href="{{ url_for('r_location_add') }}"><button>Add Location</button></a></th>
</tr>
{% for loc in locations %}
<tr>
  <td>{{ loc.name }}</td>
  <td>{{ loc.checkouts }}</td>
  <td>

  {% if loc.autoscancheckout %}
    &check; Full
  {% endif %}

  </td>
  <td class="btn_option"><a href="{{ url_for('r_location_edit', lid=loc.id) }}"><button>Edit</button></a></td>
  <td class="btn_option"><a href="{{ url_for('r_location_delete', lid=loc.id) }}"><button>Delete</button></a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}