{% extends "main.html" %}

{% block body %}
<div id='explanation'>
	<h2>Warum das Ganze?</h2>
	<p>Aufgrund der <a href="https://corona.thueringen.de/behoerden/ausgewaehlte-verordnungen" target="_blank">Th&uuml;ringer Verordnung zur Neuordnung der erforderlichen Ma&szlig;nahmen zur Eind&auml;mmung der Ausbreitung des Coronavirus SARS-CoV-2</a> ist ein Besuch unserer Einrichtungen nur m&ouml;glich, wenn die Kontaktdaten der Besucher, sowie der Zeitpunkt des Besuchsbeginns und -endes festgehalten werden.</p>
	<p>Alle angegebenen Daten werden verschl&uuml;sselt &uuml;bertragen und verschl&uuml;sselt in unserer Datenbank gespeichert. Nach Ablauf der vorgeschriebenen Dauer werden deine Daten automatisch gel&ouml;scht</p>
	<p>Wenn du deine Daten angibst, wird ein QR-Code erzeugt, der eine eineindeutige Zeichenkette enth&auml;t. Mit diesem QR-Code kannst du dich bei unseren Veranstaltungen bequem ein und ausstempeln. Dabei hat niemand Zugriff auf deine angegebenen Daten.</p>
	<p>Der Vorteil: Du musst dich nicht jedesmal in Listen eintragen und keiner kann deine Daten sehen.</p>
	<p>Solange du regelm&auml;&szlig;ig vorbeischaust, bleibt der QR-Code gültig. Kommst du nicht mehr vorbei wird der QR-Code nach der vorgeschriebenen Zeit ung&uuml;ltig und alle dazugeh&ouml;rigen Daten gel&ouml;scht. Besuchst du uns weiter, werden nur die Besuchsinformationen gel&ouml;scht, die &auml;lter als die vorgeschriebene Zeit sind.</p>
	<p>Hilf mit, Party smart!</p>
</div>
<form id="regform" method="POST" action="{{url_for('r_regform')}}">
	{% if msg: %}
	<div id="warning">{{ msg|safe }}</div>
	{% endif %}
	{{ form.csrf_token }}
	{{ form.firstname.label }}
	{{ form.firstname }}
	{{ form.lastname.label }}
	{{ form.lastname }}
	{{ form.contact.label }}
	{{ form.contact(rows='5') }}
	<div class="checkbox">
	<label for="{{ form.agree.label.field_id }}">
	{{ form.agree}}
		{{ form.agree.label.text|safe }}
	</label>
	</div>
	<ul>
		{% for key,field in form._fields.items() %}
			{% for error in field.errors %}
				<li style="color:red;">{{ error }}</li>
			{% endfor %}
		{% endfor %}
	</ul>
	<input id="regsubmit" type="submit" value="Eintragen">
</form>
{% endblock %}