{% extends "main.html" %}
{% block body %}
	{% block mainform %}
		<form id="regform" method="POST" action="{{ action }}">
			{{ form.csrf_token }}
			{{ form.firstname.label }}
			{{ form.firstname }}
			{{ form.lastname.label }}
			{{ form.lastname }}
			{{ form.contact.label }}
			{{ form.contact(rows='5') }}
			<div class="checkbox{% if hideagree: %} hidden{% endif %}">
			<label for="{{ form.agree.label.field_id }}">
			{{ form.agree}}
				{{ form.agree.label.text|safe }}
			</label>
			</div>
			<ul>
				{% for key,field in form._fields.items() %}
					{% for error in field.errors %}
						<li style="color:red;">{{ error }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
			<input id="regsubmit" type="submit" value="Eintragen">
		</form>
	{% endblock %}
{% endblock %}