{% extends "main.html" %}
{% block body %}
<table id="orgtable"class="optionstable">
<tbody>
<tr>
  <th>Organisation</th>
  <th>#Locations</th>
  <th style="width:16%;" colspan="2" class="btn_option"><a href="{{ url_for('r_organisation_add') }}"><button>Add Organisation</button></a></th>
</tr>
{% for organisation in organisations %}
<tr>
  <td>{{ organisation.name }}</td>
  <td>{{ organisation.locations|length }}</td>
  <td class="btn_option"><a href="{{ url_for('r_organisation_edit', oid=organisation.id) }}"><button>Edit</button></a></td>
  {% if organisations|length > 1 %}
    <td class="btn_option"><a href="{{ url_for('r_organisation_delete', oid=organisation.id) }}"><button>Delete</button></a></td>
  {% endif %}

</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}