{% extends "main.html" %}
{% block body %}
{% if msg: %}
	{% for t,m in msg.items() %}
		<div id="info" class="{{ t }}">{{ m|safe }}</div>
	{% endfor %}
{% endif %}
<table>
<tbody>
<tr>
  <th>Nutzer</th>
  <th>Sektion</th>
  <th>Admin</th>
  <th style="width:5%;">&nbsp;</th>
  <th style="width:11%;">&nbsp;</th>
  <th style="width:5%;">&nbsp;</th>
</tr>
{% for user in users %}
<tr>
  <td>{{ user.username }}</td>
  <td>{{ dev[user.devision] }}</td>
  <td>
  {% if user.isadmin: %}
    &#10004;
  {% endif %}
  </td>
  <td><a href="{{ url_for('r_user_edit', uid=user.id) }}"><button>Edit</button></a></td>
  <td><a href="{{ url_for('r_user_passwd', uid=user.id) }}"><button>Change PW</button></a></td>
  <td><a href="{{ url_for('r_user_delete', uid=user.id) }}"><button>Delete</button></a></td>
</tr>
{% endfor %}
</tbody>
</table>
<a href="{{ url_for('r_user_add') }}"><button>Add User</button></a>
{% endblock %}