body, html {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif;
  height: 100%;
}
#app {
  background: #263238;
  height: 100%;
}
.sidebar {
  background: #eceff1;
  overflow: auto;
}
.sidebar h2 {
  font-weight: normal;
  font-size: 1.0rem;
  background: #607d8b;
  color: #fff;
  padding: 10px;
  margin: 0;
}
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar li {
  line-height: 175%;
  white-space: nowrap;
  overflow: hidden;
  text-wrap: none;
  text-overflow: ellipsis;
}
.cameras ul {
  padding: 15px 20px;
}
.cameras .active {
  font-weight: bold;
  color: #009900;
}
.cameras a {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.cameras a:hover {
  text-decoration: underline;
}
.scans li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.scans-enter-active {
  transition: background 3s;
}
.scans-enter {
  background: yellow;
}
.empty {
  font-style: italic;
}
.preview-container {
	display: block;
	overflow: hidden;
	margin: 0px auto;
	position: absolute;
	top: 39px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

.preview-container video {
	max-width: 100%;
	width: 100%;
	margin: 0px auto;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}
button#checkin,
button#checkout
 {
 margin: 0px;
 width: 100%;
 height: 50px;
 border: 3px solid;
 color: #fff;
 font-weight: bold;
 font-size: 20px;
 }
 
button#checkin {
	border-color: #060;
	background-color: #060;
}
button#checkout {
	border-color: #600;
	background-color: #600;
}
button#checkin:hover,
button#checkin:focus {
	border-color: #0f0;
}
button#checkout:hover,
button#checkout:focus {
	border-color: #f00;
}

.hidden {
	display: none;
}

#scanmsg {
	color: #fff;
	position: absolute;
	top: 200px;
	left: 10%;
	right: 10%;
	padding: 5px;
	text-align: center;
}
#scanmsg.valid {
	background-color: #060;
}
#scanmsg.invalid {
	background-color: #600;
}
div.bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.scans {
	display: none;
}

div.links {
	position: absolute;
	top: 10px;
	right: 20px;
	color: #fff;
}
div.links a {
	color: #0f0;
}

.cameras button#show_cams {
position: absolute;
top: 5px;
left: 80px;
height: 30px;
font-size:18px;
font-weight: bold;
}
.cameras button#show_cams:before {
content: "⇑"; 
}
.cameras.hide button#show_cams:before {
content: "⇓";
}

.cameras #camlist {
	z-index: 1;
	position: relative;
	/*background-color: #fff;*/
	padding:0px;
}
.cameras.hide #camlist {
	display: none;
}
#preview {
	border: 0px solid red;
}

#scanmenu {
	z-index: 1;
	position: absolute;
	transition: max-height 1.0s ease-out;
	max-height: 0px;
	overflow: hidden;
}

#scanmenu.checked {
	transition: max-height 1.0s ease-in;
	max-height: 100%;
}

#scanmenu_list li {
	background-color: #607d8b;
	padding: 5 10;
	cursor: pointer;
}
#scanmenu_list li#cams,
#scanmenu_list {
	padding:0;
}
#scanmenu_list li a {
	color: #fff;
	font-weight: bold;
}
#scanmenu_list li a:hover,
#scanmenu_list li a:focus {
	text-decoration: none;
}
#scanmenu_list li:focus,
#scanmenu_list li:hover {
	background-color: #506d7b;
}
#scanheader {
	background-color: #506d7b;
	height: 39px;
}
label.resizecam,
label.hamburg { 
   display: block;
   background: #555; width: 40px; height: 39px; 
   position: relative; 
   margin-left: 5px; /*margin-right: auto;*/
   border-radius: 4px; 
}

/*label.resizecam:focus,*/
label.resizecam:hover, label.resizecam:active,
label.hamburg:focus,
label.hamburg:hover {
	background-color: #333;
}

label.resizecam {
	position: absolute;
	top: 0px;
	left: 50px;
	background-image: url(../images/resize.svg);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center
}

input#hamburg {display:none}

.line { 
   position: absolute; 
   left:5px;
   height: 4px; width: 30px; 
   background: #fff; border-radius: 2px;
   display: block; 
   transition: 0.5s; 
   transform-origin: center; 
}

.line:nth-child(1) { top: 8px; }
.line:nth-child(2) { top: 18px; }
.line:nth-child(3) { top: 28px; }

#hamburg:checked + .hamburg .line:nth-child(1){
   transform: translateY(10px) rotate(-45deg);
}

#hamburg:checked + .hamburg .line:nth-child(2){
   opacity:0;
}

#hamburg:checked + .hamburg .line:nth-child(3){
   transform: translateY(-10px) rotate(45deg);
}