body {
	background-color: #303030;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a, a:visited {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

a:focus,
a:hover {
	text-decoration: underline;
	color: #f00;
}

a.longlink {
	word-break: break-all;
}

table th {
	text-align: left;
}

button {
	cursor: pointer;
}

[type="submit"] {
	cursor: pointer;
}

[href^="http"]:not([href*="bdclub.de"])::after,
[href^="https"]:not([href*="bdclub.de"])::after {
	content: '(external link)';
	display: inline-block;
	width: .7em;
	height: .7em;
	text-indent: .7em;
	white-space: nowrap;
	overflow: hidden;
	background-image: url(../images/external.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	margin-left: .1em;
}

div#frame {
	background-color: #202020;
	position: relative;
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}

div#topbg {
	background-color: #333;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 143px;
}

div#main {
	position: relative;
	padding: 20px 0px;
	margin: 0px 20px;
}

div#header {
	color: #ffffff;
	background-color: #d85c5f;
	background-image: url("../images/corona.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	padding: 10px 0;
	height: 123px;
}

div#content {
	padding: 10px;
	background-color: #202020;
	color: rgba(255, 255, 255, 0.5);
}

div#menu,
div#footer {
	padding: 10px;
	background-color: #550000;
	color: #fff;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #d46a6a;
	margin: 10px 0px 0px;
	text-align: center;
}

form#regform #warning {
	background-color: #600;
	text-align: center;
	padding: 5px;
	margin: 5px;
	color: #f00;
	font-weight: bold;
	border: 2px solid #f00;
}

form#regform #warning a{
	color: #f00;
	}
	
form#userform > label,
form#regform > label {
	display: block;
	margin: 10px 0px;
}

form#regform > input,
form#regform > textarea {
	max-width: 500px;
	width: 100%;
	display: block;
}

form #regsubmit {
	padding: 5px;
	border-radius: 10px;
	font-size: 30pt;
	color: #ffffff;
	background-color: #550000;
	border: 1px solid #d46a6a;
	cursor: pointer;
}

form #regsubmit:hover,
form #regsubmit:focus {
	background-color: #d46a6a;
	border: 1px solid #550000;
	color: #550000;
}

.qrcode {
	width: 100%;
}

#explanation p {
	padding: 1px 6px;
	text-align:justify;
}

div.checkbox {
	margin-top: 20px;
	top: 0px;
	bottom: 0px;
}
div.checkbox label {
	padding-left:20px;
	display:block;
}

div.checkbox label input {
	margin-left:-20px;
	display:block;
	float: left;
}

#signin .label {
	width: 96px;
	margin-bottom:5px;
	font-weight:bolder;
	display: inline-block;
}

#signin input[type=submit] {
	padding: 4pt;
	width:100%;
	font-weight:bolder;
}

#info {
	text-align: center;
	padding: 5px;
	margin: 5px;
	font-weight: bold;
}

#info.error {
	background-color: #600;
	color: #f00;
	border: 2px solid #f00;
}

#info.success {
	background-color: #060;
	color: #0f0;
	border: 2px solid #0f0;	
}

#guesttable {
	width: 100%;
	max-width: 100%;
}

#header h1 {
	background-color:rgba(255,255,255,0.8);
	color:#d46a6a;
	text-align:center;
}

form#regform {
	margin:auto;
	max-width:425px;
}

#regform>label {
	font-weight:bold;
}

#regform input[type=text] {
	height:22pt;
}
#counter {
	margin-top: 0.7em;
}
#visittable,
#guesttable {
	width: 100%;
	max-width: 100%;
	display: table;
	border-spacing: 0em 0.25em;
	margin-top: 0.7em;
	table-layout: fixed;
}

#visittable .header > div,
#guesttable .header > div {
	vertical-align: bottom;
	background-color: #333;
	font-weight: bolder;
}

#visittable .row,
#guesttable .row {
	display: table-row;
	font-size: 0.8em;
}

#visittable .row > div,
#guesttable .row > div {
	display: table-cell;
	padding: 0 0.22em;
}

#visittable .row:nth-child(odd),
#guesttable .row:nth-child(odd) {
	background-color: #333;
}
#guesttable .col-1 {
	width: 25%;
}

#guesttable .col-3 {
	width: 19%;
}

#guesttable .col-4 {
	width: 10%;
	overflow: hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
}

#visittable .col-1 {
	text-align:center;
	width: 10%;
	min-width: 50px;
}

#visittable .col-2 {
	width: 65%;
}
#visittable .col-3 {
	width: 25%;
}

#guesttable .namecol > div,
#guesttable .timecol > div,
#visittable .timecol > div {
	display: inline-block;
	position: relative;
}
#visittable .visittrow > div,
#guesttable .guestrow > div {
vertical-align: top;
}
#visittable .visittrow .timecol > div,
#guesttable .guestrow .timecol > div {
	margin-left: 1em;
}
#visittable .visittrow .timecol > div:first-child::before,
#visittable .visittrow .timecol > div:last-child::before,
#guesttable .guestrow .timecol > div:first-child::before,
#guesttable .guestrow .timecol > div:last-child::before {
	display: inline-block;
	width: 0.7em;
	height: 0.7em;
	height: 100%;
	text-indent: 0.7em;
	white-space: nowrap;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: absolute;
	left: -1em;
	top: 0;
}
#visittable .visittrow .timecol > div:first-child::before,
#guesttable .guestrow .timecol > div:first-child::before {
	content: '(checkin)';
	background-image: url(../images/checkin.svg);
}
#visittable .visittrow .timecol > div:last-child::before,
#guesttable .guestrow .timecol > div:last-child::before {
	content: '(checkout)';
	background-image: url(../images/checkout.svg);
}

#visittable .actions {
	position: relative;
}

#visittable .col-1 [type="text"] {
	display: none;
}

#visittable .col-1 [type="submit"] {
	background-color: transparent;
	border: none;
	position: absolute;
	top:0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	cursor: pointer;
	padding:0px;
}